{
  "belterColonyDeeds" : {
    "allowedWorldTypes" : {
      "asteroids" : true
    }
  },
  "questGenerators" : {
    "byWorldType" : {
      "asteroids" : "SystemThreatQuestGenerator"
    },
    "script" : {
      "SystemThreatQuestGenerator" : "/scripts/questgen/rl_systemthreat_generator.lua"
    }
  },
  "questlocationObjects" : {
    "allowedWorldTypes" : {
      "asteroids" : true
    },
    "replacementTagSetByWorldType" : {
      "asteroids" : "space"
    },

    // IDs of liquids that should be considered water
    "waterLiquidIds" : [ 1, 6 ]
  }
}
