{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "bottomLeft",
      "offset" : [-24, -24],
      "positionLocked" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/scripted/rl_systemthreatscanner/rl_systemthreatscanner.png",
      "fileFooter" : ""
    }
  },

  "scripts" : [
    "/interface/scripted/rl_systemthreatscanner/rl_systemthreatscanner.lua"
  ]
}
