{
  "alpacatenant" : "rl_belteralpacatenant",
  "apexresearchlab" : "rl_belterapexresearchlab",
  "astronaut" : "rl_belterastronaut",
  "astrotenant" : "rl_belterastrotenant",
  "avianairship" : "rl_belteravianairship",
  "aviantomb" : "rl_belteraviantomb",
  "bones" : "rl_belterbones",
  "cabin" : "rl_beltercabin",
  "chefmerchanttenant" : "rl_belterchefmerchanttenant",
  "colourful" : "rl_beltercolourful",
  "creepling" : "rl_beltercreepling",
  "egyptian" : "rl_belteregyptian",
  "electrician" : "rl_belterelectrician",
  "evilglitchtenant" : "rl_belterevilglitchtenant",
  "eyepatch" : "rl_beltereyepatch",
  "farm" : "rl_belterfarm",
  "feneroxtenant" : "rl_belterfeneroxtenant",
  "flesh" : "rl_belterflesh",
  "floranhuntinggrounds" : "rl_belterfloranhuntinggrounds",
  "foundry" : "rl_belterfoundry",
  "friendlycultist" : "rl_belterfriendlycultist",
  "friendlyguardtenant" : "rl_belterfriendlyguardtenant",
  "generictenant" : "rl_beltergenerictenant",
  "geode" : "rl_beltergeode",
  "giantflower" : "rl_beltergiantflower",
  "glitchcastle" : "rl_belterglitchcastle",
  "glitchsewer" : "rl_belterglitchsewer",
  "glow" : "rl_belterglow",
  "gothic" : "rl_beltergothic",
  "hazmat" : "rl_belterhazmat",
  "humanbunker" : "rl_belterhumanbunker",
  "humanprison" : "rl_belterhumanprison",
  "industrialtenant" : "rl_belterindustrialtenant",
  "island" : "rl_belterisland",
  "lunarbase" : "rl_belterlunarbase",
  "merchanttenant" : "rl_beltermerchanttenant",
  "neon" : "rl_belterneon",
  "oasis" : "rl_belteroasis",
  "office" : "rl_belteroffice",
  "pastel" : "rl_belterpastel",
  "peacekeepertenant" : "rl_belterpeacekeepertenant",
  "philanthropist" : "rl_belterphilanthropist",
  "prism" : "rl_belterprism",
  "retroscifi" : "rl_belterretroscifi",
  "saloon" : "rl_beltersaloon",
  "scientist" : "rl_belterscientist",
  "scorched" : "rl_belterscorched",
  "sea" : "rl_beltersea",
  "socialite" : "rl_beltersocialite",
  "spaceguardtenant" : "rl_belterspaceguardtenant",
  "spacehero" : "rl_belterspacehero",
  "spooky" : "rl_belterspooky",
  "spring" : "rl_belterspring",
  "stationtenant" : "rl_belterstationtenant",
  "steampunk" : "rl_beltersteampunk",
  "steamspring" : "rl_beltersteamspring",
  "tar" : "rl_beltertar",
  "tutorialtenant" : "rl_beltertutorialtenant"
}
